*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
height: 98px;
width: 1551px;

}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 80px;
    background:0D1B2A;
     border-bottom:1px solid #ececec;
     height:56px;
     width: 1317px;;
}
.logo{
    display: flex;
}
.logo img{
    height: 32px;
    width:32;
}
.logo h2{
    height: 92px;
    width: 22px;

}
.logo span{
    display: block;
    height: 22px;;
    width: 94px;

}
.nav-links{
    display:flex;
    gap:35px;

    list-style:none;


}

.nav-links a{

    text-decoration:none;
    color:#575757;
    

}
.button{

    text-decoration:none;

    background:#1D4ED8;
    color:white;
    justify-content: center;
    padding:12px 22px;
    width:157px;
    height: 56px;
    align-items: center;

    border-radius:8px;


}
 /*hero start*/
 .hero{
    position:relative;
    width:100%;
    height:100%
 }
 .hero-image{
    width:100%;
    height:100%;
    object-fit:cover;
 }

 .overlay{
    position:absolute;
    bottom:0;
    top: 0;
    top:0;
    left:0;
    width :100%;
    height:100%;
    z-index:1;

 }
 .hero-content{
    position:absolute;
    z-index:2; /*kon upadan onno upadan er upor boshbe,jar z index beshi hobe she upore boshbe*/
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#FFFFFF;
    
 }
 /*speaker part*/
 .speakers{
    padding: 100px 0;
  background: #f8fafc;
 }
 .container{
    width:90%;
    max-width: 1200px;
    margin:auto;

 }
 .section-title{
    text-align:center;
    font-size:42px;
    font-weight:700;
    margin-bottom: 60px;
 }
 /*grid*/
 .speaker-grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 35px;
 }

 .speaker-card{
background: white;
border-radius: 16 px;
overflow: hidden;
box-shadow: 0 8px 20px rgba(0,0,0,.08);


 }
 .speaker-card img{

    width:100%;

    height:300px;

    object-fit:cover;

}
.speaker-card:hover{
    transform: translateY(-8px);
    transition: .3s;
}